@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 14px;
}
.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
.title-1 {
  font-size: 34px;
  font-weight: 600;
}
.btn {
  display: inline-block;
  background-color: #070707;
  padding: 7px 22px;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.2s ease in, top 0.2s ease in;
}

.btn:hover,
.btn:focus {
  background-color: #323232;
}
.btn:active {
  position: relative;
  background-color: #000000;
  top: 1px;
}
/* Header */
.header {
  background-color: #f1f1f1;
  padding-top: 46px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 76px;
}
.logo {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  color: #000;
  padding: 0 12px 3px 0;
  line-height: 1;
}
.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fda300;
  border-radius: 50%;
}

/* Nav */
.nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
}
.nav-button {
  display: none;
}
.nu .nav-link {
  color: #000;
}
.nav-link.active {
  color: #606060;
}
/*Header content*/
.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.header-heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 44px;
}
.header-content {
  max-width: 500px;
  margin-top: 124px;
}

.header-content p {
  line-height: 2;
}
/*Services*/
.services {
  padding: 90px 0;
}
.services-row {
  row-gap: 60px;
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}
.service-card {
  flex: 1 1 0;
  min-width: 315px;
}
.service-card-img {
  margin-bottom: 30px;
}
.service-card-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.services-card p {
  line-height: 2;
}
/*Portfolio*/
.portfolio {
  background-color: #f1f1f1;
  padding: 90px 0;
}
.portfolio-title {
  text-align: center;
  margin-bottom: 70px;
}

.project {
  text-align: center;
}
.project + .project {
  margin-top: 90px;
}

.project-img {
  margin-bottom: 40px;
}

.project-title {
  font-size: 18px;
}
.project-title a {
  color: #000;
  text-decoration: underline;
}
/*footer*/

.contacts {
  padding: 90px 0;
  text-align: center;
}
.contacts-title {
  margin-bottom: 40px;
}
.contacts-content {
  max-width: 480px;
  margin: 0 auto 40px;
  font-size: 18px;
}

.contacts-content p + p {
  margin-top: 1em;
}

.contacts-button {
  margin-bottom: 80px;
}

.contacts-social {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  align-items: center;
  margin-bottom: 40px;
}

.contacts-footer {
  color: #828282;
}
